<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hui.base.springcloud.product.mapper.ProductMapper">
  <resultMap id="BaseResultMap" type="com.hui.base.springcloud.product.model.Product">
    <id column="product_id" jdbcType="VARCHAR" property="productId" />
    <result column="product_name" jdbcType="VARCHAR" property="productName" />
    <result column="product_stock" jdbcType="INTEGER" property="productStock" />
    <result column="product_price" jdbcType="DECIMAL" property="productPrice" />
  </resultMap>
  <sql id="Base_Column_List">
    product_id, product_name, product_stock, product_price
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_product
    where product_id = #{productId,jdbcType=VARCHAR}
  </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from t_product
    where product_id = #{productId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.hui.base.springcloud.product.model.Product">
    insert into t_product (product_id, product_name, product_stock, 
      product_price)
    values (#{productId,jdbcType=VARCHAR}, #{productName,jdbcType=VARCHAR}, #{productStock,jdbcType=INTEGER}, 
      #{productPrice,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.hui.base.springcloud.product.model.Product">
    insert into t_product
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="productId != null">
        product_id,
      </if>
      <if test="productName != null">
        product_name,
      </if>
      <if test="productStock != null">
        product_stock,
      </if>
      <if test="productPrice != null">
        product_price,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="productId != null">
        #{productId,jdbcType=VARCHAR},
      </if>
      <if test="productName != null">
        #{productName,jdbcType=VARCHAR},
      </if>
      <if test="productStock != null">
        #{productStock,jdbcType=INTEGER},
      </if>
      <if test="productPrice != null">
        #{productPrice,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hui.base.springcloud.product.model.Product">
    update t_product
    <set>
      <if test="productName != null">
        product_name = #{productName,jdbcType=VARCHAR},
      </if>
      <if test="productStock != null">
        product_stock = #{productStock,jdbcType=INTEGER},
      </if>
      <if test="productPrice != null">
        product_price = #{productPrice,jdbcType=DECIMAL},
      </if>
    </set>
    where product_id = #{productId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hui.base.springcloud.product.model.Product">
    update t_product
    set product_name = #{productName,jdbcType=VARCHAR},
      product_stock = #{productStock,jdbcType=INTEGER},
      product_price = #{productPrice,jdbcType=DECIMAL}
    where product_id = #{productId,jdbcType=VARCHAR}
  </update>


  <select id="listAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_product
  </select>

</mapper>